{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a aria-label="Jaken Herman Website Link" href="{{ site.url }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}" alt="An Image of Jaken Herman" class="avatar">
  </a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a aria-label="Jaken Herman Website Link" href="{{ site.url }}/">home</a>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a aria-label="Navigate to Article - {{page.title}}" href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
  <strong><a href='https://www.lazy.com/jaken'>lazy.com/jaken</a></strong>
  <br />
  <p><strong>fan of:</strong>&nbsp;chess, crosswords, gardening, reading, runescape</p>
  <br />
        <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
        <style type="text/css" media="screen">
          .gr_custom_container_1620825429 {
            /* customize your Goodreads widget container here*/
            border: 0px solid gray;
            border-radius:10px;
            padding: 10px 5px 10px 5px;
            background-color: #FFFFFF;
            color: #000000;
            width: 200px
          }
          .gr_custom_header_1620825429 {
            /* customize your Goodreads header here*/
            border-bottom: 1px solid gray;
            width: 100%;
            margin-bottom: 5px;
            text-align: center;
            font-size: 120%
          }
          .gr_custom_each_container_1620825429 {
            /* customize each individual book container here */
            width: 100%;
            clear: both;
            margin-bottom: 10px;
            overflow: auto;
            padding-bottom: 4px;
            border-bottom: 1px solid #aaa;
          }
          .gr_custom_book_container_1620825429 {
            /* customize your book covers here */
            overflow: hidden;
            height: 60px;
              float: left;
              margin-right: 4px;
              width: 39px;
          }
          .gr_custom_author_1620825429 {
            /* customize your author names here */
            font-size: 10px;
          }
          .gr_custom_tags_1620825429 {
            /* customize your tags here */
            font-size: 10px;
            color: gray;
          }
          .gr_custom_rating_1620825429 {
            /* customize your rating stars here */
            float: right;
          }
        </style>
        
              <div id="gr_custom_widget_1620825429">
                  <div class="gr_custom_container_1620825429">
            <h2 class="gr_custom_header_1620825429">
            <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/38641069-jaken-herman?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Most Recent Reads</a>
            </h2>
              <div class="gr_custom_each_container_1620825429">
                  <div class="gr_custom_book_container_1620825429">
                    <a title="I'll Be Gone in the Dark: One Woman's Obsessive Search for the Golden State Killer" rel="nofollow" href="https://www.goodreads.com/review/show/3969393203?utm_medium=api&amp;utm_source=custom_widget"><img alt="I'll Be Gone in the Dark: One Woman's Obsessive Search for the Golden State Killer" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1499131009l/35068432._SY75_.jpg" /></a>
                  </div>
                  <div class="gr_custom_rating_1620825429">
                    <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
                  </div>
                  <div class="gr_custom_title_1620825429">
                    <a rel="nofollow" href="https://www.goodreads.com/review/show/3969393203?utm_medium=api&amp;utm_source=custom_widget">I'll Be Gone in the Dark: One Woman's Obsessive Search for the Golden State Killer</a>
                  </div>
                  <div class="gr_custom_author_1620825429">
                    by <a rel="nofollow" href="https://www.goodreads.com/author/show/16819959.Michelle_McNamara">Michelle McNamara</a>
                  </div>
              </div>
              <div class="gr_custom_each_container_1620825429">
                  <div class="gr_custom_book_container_1620825429">
                    <a title="The Children of Húrin" rel="nofollow" href="https://www.goodreads.com/review/show/3801604556?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Children of Húrin" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320423974l/7445179._SY75_.jpg" /></a>
                  </div>
                  <div class="gr_custom_rating_1620825429">
                    <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
                  </div>
                  <div class="gr_custom_title_1620825429">
                    <a rel="nofollow" href="https://www.goodreads.com/review/show/3801604556?utm_medium=api&amp;utm_source=custom_widget">The Children of Húrin</a>
                  </div>
                  <div class="gr_custom_author_1620825429">
                    by <a rel="nofollow" href="https://www.goodreads.com/author/show/656983.J_R_R_Tolkien">J.R.R. Tolkien</a>
                  </div>
                  <div class="gr_custom_tags_1620825429">
                    tagged:
                    2021-reading-goals
                  </div>
              </div>
              <div class="gr_custom_each_container_1620825429">
                  <div class="gr_custom_book_container_1620825429">
                    <a title="The Fall of Gondolin" rel="nofollow" href="https://www.goodreads.com/review/show/3801604082?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Fall of Gondolin" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1552032548l/43261040._SY75_.jpg" /></a>
                  </div>
                  <div class="gr_custom_rating_1620825429">
                    <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
                  </div>
                  <div class="gr_custom_title_1620825429">
                    <a rel="nofollow" href="https://www.goodreads.com/review/show/3801604082?utm_medium=api&amp;utm_source=custom_widget">The Fall of Gondolin</a>
                  </div>
                  <div class="gr_custom_author_1620825429">
                    by <a rel="nofollow" href="https://www.goodreads.com/author/show/656983.J_R_R_Tolkien">J.R.R. Tolkien</a>
                  </div>
                  <div class="gr_custom_tags_1620825429">
                    tagged:
                    2021-reading-goals
                  </div>
              </div>
          <br style="clear: both"/>
          <center>
            <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
          </center>
          <noscript>
            Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Jaken, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
          </noscript>
          </div>
        
              </div>
              <script src="https://www.goodreads.com/review/custom_widget/38641069.Most%20Recent%20Reads?cover_position=left&cover_size=small&num_books=3&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=none&widget_id=1620825429&widget_text_color=000000&widget_title_size=medium&widget_width=thin" type="text/javascript" charset="utf-8"></script>
    <br />

<div id="gr_challenge_11650" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px; max-width:230px; min-height: 100px">
  <div id="gr_challenge_progress_body_11650" style="font-size: 12px; font-family: georgia,serif;line-height: 18px">
    <h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
      <a style="text-decoration: none; font-family:georgia,serif;font-style:italic; font-size: 1.1em" rel="nofollow" href="https://www.goodreads.com/challenges/11650-2021-reading-challenge">2021 Reading Challenge</a>
    </h3>
        <div class="challengePic">
          <a rel="nofollow" href="https://www.goodreads.com/challenges/11650-2021-reading-challenge"><img alt="2021 Reading Challenge" style="float:left; margin-right: 10px; border: 0 none" src="https://images.gr-assets.com/challenges/1608245803p2/11650.jpg" /></a>
        </div>
      <div>
        <a rel="nofollow" href="https://www.goodreads.com/user/show/38641069-jaken-herman">Jaken</a> has
             read 13 books toward
             his goal of
             50 books.
      </div>
      <div style="width: 100px; margin: 4px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
        <div style="width: 26%; background-color: #D7D2C4; float: left"><span style="visibility:hidden">hide</span></div>
      </div>
      <div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
        <a rel="nofollow" href="https://www.goodreads.com/user_challenges/24855153">13 of 50 (26%)</a>
      </div>
        <div style="text-align: right;">
          <a style="text-decoration: none; font-size: 10px;" rel="nofollow" href="https://www.goodreads.com/user_challenges/24855153">view books</a>
        </div>
  </div>
	<script src="https://www.goodreads.com/user_challenges/widget/38641069-jaken-herman?challenge_id=11650&v=2"></script>
</div>


</div>
